@charset "UTF-8";

:root{
    --cor1: #49a09d;
    --cor2: #5f2c82;
}

body{
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor2));
}

main{
    width:90%;
    max-width: 900px;
    display:flex;
    justify-content: space-between; 
}

main .image{
    width:40%;
    height: 440px;
}
.content{
    width:60%;
}



@media screen and (min-width: 992px){

    main{
        flex-direction: row-reverse;
    }
    .image{
        width:50%;
    }

    .content{
        width:60%;
    }
}
